<div
    class="container"
>
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div
                class="h-100 p-5 text-black bg-light border rounded-3"
            >
                <h2>{{apod.title}}</h2>
                <img [src]="apod.url" [alt]="apod.title">
                <h4>{{apod.date}}</h4>
                <p>
                    {{apod.explanation}}
                </p>
                <button
                    class="btn btn-outline-primary"
                    type="button"
                >
                    Download
                </button>
            </div>
        </div>
    </div>
    
</div>
