<div class = "grid-container">
  <div class = "calculator-grid ">
    <textarea type="text" id = "inputtext" placeholder="0" disabled>{{display}}</textarea>

      <button (click)="handleClick(7)">7</button>
      <button (click)="handleClick(8)">8</button>
      <button (click)="handleClick(9)">9</button>
      <button (click)="handleClick('+')">+</button>
      <button (click)="handleClick(4)">4</button>
      <button (click)="handleClick(5)">5</button>
      <button (click)="handleClick(6)">6</button>
      <button (click)="handleClick('-')">-</button>
      <button (click)="handleClick(1)">1</button>
      <button (click)="handleClick(2)">2</button>
      <button (click)="handleClick(3)">3</button>
      <button (click)="handleClick('*')">*</button>

      <button (click)="handleClick('DEL')">DEL</button>
      <button (click)="handleClick(0)">0</button>
      <button (click)="handleClick('=')">=</button>
      <button (click)="handleClick('/')">/</button>

  </div>
</div>
